* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(51, 49, 49);
}

#header {
    font-size: 3rem;
    color: white;
    background-color: #121212;
    height: 4rem;
    padding: .4rem;
    min-width: 100vh;
}

#container {
    display: flex;
    justify-content: space-between;
    align-content: center;

    background-color: #000000de;
}

#sidebar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex: 0 1 1;

    background-color: #1d1d1d;
    color: white;

    padding: .3rem;
    width: 140px;  
}

#padContainer {
    display: flex;
    justify-content: center;
    flex: 1;
    min-width: 0;
    flex-direction: row;
    align-items: center;
}

#pad {
    flex: 1;
    display: flex;

    flex-wrap: wrap;
    aspect-ratio: 1/1 ;
    background-color: white;
    min-width: 50vh;
    max-width: 70vh;
    padding: 5rem auto;
    background-color: black;
}

#pixel {
    background-color: white;
    
}

#scaleContainer {
    display: flex;
    flex-direction: column;
}

#colorContainer {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
}

#colorText {
    display: block;
    flex: 1 1 auto;
    font-size: 1rem;
}

.colorButton {
    display: inline-block;
    aspect-ratio: 1/1;
    border-radius: 5px;
    width: 20px;
    margin: 0 auto;
    border: 1px solid white;
}

.colorButton:hover {
    transform: scale(1.3);
}

.colorButton:active {
    transform: scale(1.1);
}

#black {
    background-color: black;
}

#red {
    background-color: red;
}

#blue {
    background-color: blue;
}

#yellow {
    background-color: yellow;
}

#green {
    background-color: green;
}

#orange {
    background-color: orange;
}

#toolContainer {
    display: flex;
    justify-content: center;
}

#middleContainer {
    display:flex;
    flex-direction: column;
    gap: 2px;
    justify-content: center;
}

#rainbow {
    display: block;
    font-size: 1.3rem;
    color: blue;
    flex: 1;
    padding: 0.5rem;
    background: linear-gradient(120deg, red, yellow, green, orange);
}



#eraser {
    display: block;
    flex: 1;
    padding: 0.5rem;
    background-color: white;
}

#eraser:hover {
    transform: scale(1.1);
}

#eraser:active {
    transform: scale(0.9);
}

#footer {
    color: white;
    flex: 1; 
    min-width: 100vh;
    background-color: #121212;
}