* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(51, 49, 49);
}

#header {
    font-size: 3rem;
    color: white;
    background-color: #121212;
    height: 4rem;
    padding: .4rem;
    min-width: 100vh;
}

#container {
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-content: center;

    background-color: #000000de;
    max-width: 100vh;
}

#sidebar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 1px solid blue;

    background-color: #1d1d1d;
    color: white;

    padding: .3rem;
    width: 140px;  
}

#pad {
    border: 3px solid green;
    flex: 1;

    display: flex;
    flex-wrap: wrap;
    aspect-ratio: 1/1 ;
    background-color: white;
}

#pixel {
    background-color: black;
    opacity: 0;
}

#scaleContainer {
    display: flex;
    flex-direction: column;
}

#colorContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#colorText {
    display: block;
}

.black {
    background-color: black;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.green. {
    background-color: green;
}

.orange {
    background-color: orange;
}

#footer {
    color: white;
    flex: 1; 
    min-width: 100vh;
    background-color: #121212;
}